


* {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;}
h1 {
  color: #A54141;
  text-align: center;
  font-size: 400%;}
p {
  color: #A54141;}
body {
  font-size: 100%;
  background-color: #FFBABA;}
form {
  text-align: center;
  color: #5B2121;}
table {
  width: 1200px;
  padding: 10px 10px 10px 10px;
  background-color: #F68585;
  text-align: center;
  border: 3px solid #5B2121;
  border-spacing: 5px;
  border-radius: 10px;
  float: center;
  color: #5B2121;
  margin-left: auto;
  margin-right: auto;}
thead {
  color: #5B2121;}
form {

}
div {
  margin-left: 10px;
  width: 260px;
  padding: 5px 5px 5px 5px;
}
